題名：<%= link_to @shop.title, shop_path(@shop), class: "text-dark" %>
<p><%= link_to "https://www.google.com/search?q=#{@shop.shop_name}&oq=&aqs=chrome.2.35i39i362l7j69i59i450.151197398j0j15&sourceid=chrome&ie=UTF-8" do %><p>
  <p><%= image_tag @shop.get_shop_image(600, 600) %></p>
  <p class="text-dark"><%= @shop.shop_name %></p>
<% end %></p>
<p></p>
<p>説明：<%= @shop.body %></p>
<table>
  <tr>
    <td id="goods_buttons_<%= @shop.id %>"><%= render "goods/good", shop: @shop %></td>
    <td id="bads_buttons_<%= @shop.id %>"><%= render "bads/bad", shop: @shop %></td>
  </tr>
</table>
<p><%=link_to user_path(@shop.user) do %>
  <%= image_tag @shop.user.get_profile_image(50, 50) %>
<% end %></p>
<p><%= link_to @shop.user.name, user_path(@shop.user), class: "text-dark" %></p>
<% if @shop.user_id == current_user.id %>
  <p><%= link_to "投稿を編集", edit_shop_path(@shop) %></p>
  <p><%= link_to "投稿を削除", shop_path(@shop), method: :delete, data: { confirm: "　⚠投稿は削除されます。\n　　よろしいですか？" } %></p>
<% end %>
<div id="comment_area_<%= @shop.id %>"><%= render 'shop_comments/shop_comment', shop: @shop, shop_comment: @shop_comment %></div>
<div id="shop-comment"><%= render 'shop_comments/comment_form', shop: @shop, shop_comment: @shop_comment %></div>